#content {
  margin: 0 auto;
  max-width: 900px;
  min-width: 400px;
}

.subhead {
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  margin-bottom: 10px;
}

img {
  max-width: 900px;
}

.smallphoto {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.byline {
  font-style: italic;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.caption {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
  color: #484848;
}

.pullquote {
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  padding: 20px;
  border: 5px solid red;
  border-style: solid none;
  font-style: italic;
}

.quotecred {
  text-align: right;
}

.splash {
  margin-top: 20px;
}

.sidebar {
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid #C71400;
  border-width: 10px 4px;
  padding: 20px;
  margin-bottom: 30px;
}

.sbtitle {
  font-size: 18px;
  border-bottom: 1px solid red;
  font-weight: 600;
}

.sblist {
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
}

.sbcred {
  font-style: italic;
}

.navbarhead {
  font-family: Helvetica, sans-serif;
}

.nav-item {
  font-family: Helvetica, sans-serif;
}

a#link:hover {
  color: #C71400;
}

a#link:visited {
  color: darkgrey;
}

a#link {
  color: black;
}
